@model CourseScoresViewModel

@{
	ViewBag.Title = "Students Management";
}
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
		<h2 class="text-center">@ViewBag.Title</h2>
		<hr />

		<div class="d-inline-flex mb-3">
			<p class="mb-0">Course: <b>@Model.Title</b></p>
			<p class="mb-0 ms-3">Max credits: <b>@Model.MaxCredits</b></h6class>
		</div>

		@if (Model.Students.Any())
		{
			<table class="table table-hoover">
				<thead>
					<tr>
						<th>Student Full Name</th>
						<th class="text-center">Score</th>
						<th class="text-center">Credit</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var student in Model.Students)
					{
						<tr>
							<td>@student.FullName</td>
							<td class="text-center">
								@(student.Score.HasValue ? $"{student.Score:f2}" : "-")
							</td>
							<td class="text-center">
								@(student.Credits.HasValue ? student.Credits : "-")
							</td>
							<td>
								<a asp-controller="Registration"
						   asp-action="EditScore"
						   asp-route-courseid=@Model.CourseId
						   asp-route-studentid=@student.Id
						   class="btn btn-success btn-sm">
									Edit Score
								</a>
								<a asp-controller="Registration"
						   asp-action="Remove"
						   asp-route-courseid=@Model.CourseId
						   asp-route-studentid=@student.Id
						   class="btn btn-danger btn-sm">
									Unregister
								</a>

							</td>
						</tr>
					}
					<tr class="table-warning">
						<td>Average</td>
						<td class="text-center">@($"{Model.Students.Average(s => s.Score):f2}")</td>
						<td class="text-center">@($"{Model.Students.Average(s => s.Credits):f2}")</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		}
		else
		{
			<p class="text-center mb-4">No students applied for this course yet!</p>
		}
		<div class="mt-3">
			<a asp-controller="Course" asp-action="Details" asp-route-id=@Model.CourseId class="btn btn-outline-secondary">Back to course</a>
		</div>
	</div>
</div>
