@model QuizStepModel
@{
	ViewData["Title"] = "Quiz";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<nav>
	<ul class="pagination justify-content-center">
		@if (Model.CurrentStep == 1)
		{
			<li class="page-item disabled">
				<span class="page-link">&laquo;</span>
			</li>
		}
		else
		{
			<li class="page-item">
				<a class="page-link"
			   asp-area="Quiz"
			   asp-controller="Quiz"
			   asp-action="Step"
			   asp-route-id="@Model.QuizId"
			   asp-route-step="@(Model.CurrentStep - 1)">&laquo;</a>
			</li>
		}

		@foreach (var step in Model.Steps)
		{
			<li class="page-item @(step.QuestionId.ToLowerInvariant() == Model.QuestionId.ToLowerInvariant() ? "active" : string.Empty)">
				<a class="page-link"
			   asp-area="Quiz"
			   asp-controller="Quiz"
			   asp-action="Step"
			   asp-route-id="@Model.QuizId"
			   asp-route-step="@step.StepNumber">@step.StepNumber</a>
			</li>
		}

		@if (Model.CurrentStep == Model.MaxStep)
		{
			<li class="page-item disabled">
				<span class="page-link">&raquo;</span>
			</li>
		}
		else
		{
			<li class="page-item">
				<a class="page-link"
			   asp-area="Quiz"
			   asp-controller="Quiz"
			   asp-action="Step"
			   asp-route-id="@Model.QuizId"
			   asp-route-step="@(Model.CurrentStep + 1)">&raquo;</a>
			</li>
		}
	</ul>
</nav>

<div class="container overflow-hidden">
	<div class="row">
		<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
			<p><strong>Question @Model.CurrentStep: </strong>@Model.QuestionText</p>

			<form method="post" class="row g-2">
				<div asp-validation-summary="ModelOnly" class="small text-danger"></div>
				<input asp-for="QuizId" type="hidden" />
				<input asp-for="QuestionId" type="hidden" />
				<div class="form-group mt-3">
					<label class="mb-1"><strong>Responses:</strong></label>
					@foreach (var response in Model.Responses)
					{
						<div class="form-check">
							<input class="form-check-input" asp-for="ResponseId" value="@response.Id" id="@response.Id" type="radio" checked="@(response.Selected)">
							<label class="form-check-label" for="@response.Id">@response.Text</label>
						</div>
					}
				</div>
				<div class="text-center">
					<button class="btn btn-primary mt-3">Save</button>
				</div>
			</form>
			@if (Model.CurrentStep == Model.MaxStep)
			{
				<form asp-area="Quiz" asp-controller="Quiz" asp-action="Complete">
					<input value="@Model.QuizId" id="quiz-id-complete" name="id" type="hidden" />
					<button class="btn btn-warning">Complete Quiz</button>
				</form>
			}
		</div>
	</div>

</div>